<%- include("header") -%>

	<div class="box" id="heading">
		<h1><%= listTitle %></h1>
	</div>
	
	<div class="box">			
		<% todoItems.forEach(function(item) { %>
		<div class="item">
			<input type="checkbox">
			<p><%= item %></p>
		</div>
		<% }); %>

		<form class="item" action="/" method="post">
			<input type="text" name="todoItem" placeholder="What To Do . . .">
			<button type="submit" name="button" value=<%= listTitle %> >+</button>
		</form>		
	</div>	

<%- include("footer") -%>
